# Reference: https://create-react-app.dev/docs/adding-custom-environment-variables

# API KEY for google sheet (It's all right. It's restricted by domain.)
#   The API key in '.env' only works in 'localhost' and 'hal-to.github.io'.
#   To publish github-pages from forked repo, you should use your own api key.
REACT_APP_API_KEY="YOUR_OWN_API_KEY"
