.recommend {
  display: grid;
  grid-template-columns: 40rem 1fr;
  justify-content: start;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
  }
}

.rec-side {
  background-color: $color-primary;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  &__text-div {
    position: relative;
  }

  &__text {
    resize: none;
    width: 100%;
    height: 10rem;
    margin: 0.2rem;
    font-family: "Noto Sans KR", sans-serif;
  }

  &__copied {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, 70%) scale(0.3);
    background-color: rgba($color-secondary-light, 0.8);
    color: $color-white;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  .form-control {
    display: flex;
    width: 100%;

    &__btn {
      font-weight: 700;
      background-color: $color-primary-dark;
      padding: 0.8rem 1rem;
      border: none;
      margin: 0.2rem;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      transition: all 0.1s;
      text-align: center;

      &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        background-color: $color-secondary-light;
        color: $color-white;
        transform: translateY(-0.2rem);
      }

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transform: translateY(0.1rem);
      }
    }

    &__input {
      width: 100%;
      margin: 0.2rem;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
}

.rec-subject:not(:first-of-type) {
  margin-top: 8rem;
}

.rec-contents {
  background-color: $color-grey-light-1;
  padding: 3rem;
  min-height: 50rem;
}

.rec-input {
  display: block;
  height: 3rem;
  width: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
