// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* 다른 거 끼워 넣을 때 좋음 */
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 유저가 브라우저 폰트 사아즈를 바꾼 경우도 고려해야 함. 100% 하면 16px. 10px으로 맞추고 싶음 */
}
