// COLORS
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;
$color-secondary-light: #101d2c;
$color-secondary-dark: #101d2c;

$color-bg-blue: #0057ae;
$color-bg-yellow: #e9c7ac;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px (1200/16 = 75)
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* 다른 거 끼워 넣을 때 좋음 */
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 유저가 브라우저 폰트 사아즈를 바꾼 경우도 고려해야 함. 100% 하면 16px. 10px으로 맞추고 싶음 */
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
