.category-big {
  background-color: $color-primary;
  padding: 3rem;
}

.category-small {
  background-color: $color-bg-yellow;
  padding: 3rem;
}

.category-nav {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
