.contents {
  background-color: $color-grey-light-1;
  padding: 3rem;
  grid-row: 1 / span 2;
  grid-column: 2 / -1;
  min-height: 50rem;

  @media only screen and (max-width: $bp-large) {
    grid-row: auto;
    grid-column: auto;
  }
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32rem);
  justify-content: space-evenly;
  grid-gap: 2rem;
}

.video-card {
  perspective: 150rem;
  position: relative;
  height: 36rem;

  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  &__side {
    height: 36rem;
    transition: all 0.4s ease;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      display: flex;
      flex-direction: column;
    }

    &--back {
      background-color: $color-bg-yellow;
      transform: rotateY(180deg);
    }
  }

  &.flipped &__side--front {
    transform: rotateY(-180deg);
  }
  &.flipped &__side--back {
    transform: rotateY(0);
  }

  // Front side
  &__detail {
    padding: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr 3.5rem;
    grid-column-gap: 0.5rem;
    align-content: space-between;
    align-items: center;
    justify-items: start;
  }

  &__side--back &__detail {
    height: 100%;
  }

  &__cat-info {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cat-big {
    font-size: 1.3rem;
    padding: 0.1rem 0.5rem;
    border-radius: 100px;
    margin-right: 0.5rem;
    background-color: $color-secondary-light;
    color: $color-white;
  }

  &__cat-small {
    font-size: 1.1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 100px;
    margin-right: 0.2rem;
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &__date {
    color: $color-grey-light-2;
    justify-self: end;
  }

  &__title {
    grid-column: 1 / -1;
    justify-self: start;
    align-self: start;
  }

  // Back side

  &__summary {
    grid-column: 1 / -1;
    justify-self: start;
    align-self: center;
    color: $color-secondary;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: pre-wrap;
    line-height: 2.5;
  }
}
