.contents {
  background-color: $color-grey-light-1;
  padding: 3rem;
  grid-row: 1 / span 2;
  grid-column: 2 / -1;
  min-height: 50rem;

  @media only screen and (max-width: $bp-large) {
    grid-row: auto;
    grid-column: auto;
  }
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  justify-content: space-evenly;
  grid-gap: 2rem;
}

.video-card {
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;

  &--img {
    width: 100%;
  }

  &--link {
    display: block;
  }
}
