.header {
  background-image: url(../img/header_bg.png);
  background-color: $color-bg-blue;
  background-size: auto 20rem;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;

  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr max-content;

  @media only screen and (max-width: $bp-small) {
    height: 20rem;
    background-size: auto 10rem;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    padding: 0.5rem;
  }

  &__title {
    @media only screen and (max-width: $bp-small) {
      grid-row: 2 / 3;
    }
  }

  &__nav {
    justify-self: end;
    &--info {
      color: $color-grey-light-2;
      text-align: right;
    }
  }
}
