.header {
  background-image: url(../img/header_bg.png);
  background-color: $color-bg-blue;
  background-size: auto 20rem;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;

  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr max-content;

  &-nav {
    &--info {
      color: $color-grey-light-2;
      text-align: right;
    }
  }
}
