.home {
  display: grid;
  grid-template-columns: 40rem 1fr;
  grid-template-rows: auto 1fr;
  justify-content: start;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
  }
}
